.footer{
    padding-top: 70px;
    padding-bottom: 30px;
}

.footer .logo h5{
    padding: 15px;
    width: 300px;
    margin-bottom: 1rem;

}

.footer .logo img{
    width: 200px;
}
.footer .logo p{
    margin-top: 25px;
    width: 300px;
    color: var(--text-color);
}

.social__links span a{
    text-decoration: none;
    color: var(--heading-color);
    font-size: 1.2rem;
}

.footer__link-title{
    color: var(--heading-color);
    margin-bottom: 1rem;
}

.footer__quick-links  a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.1rem;
}

.footer__quick-links h6 span {
    color: var(--primary-color);
    font-size: 1.2rem;
}

.copyright{
    color: var(--text-color);
    font-size: 1rem;
    margin-top: 40px;
}